
/* display none until init */
.product-carousel{
	display: none;
	opacity:1!important;
	position: relative;
	width: 100%;
	-ms-touch-action: pan-y;
}
#column-left .product-carousel, #column-right .product-carousel { display:block;}
#column-left .customNavigation, #column-right .customNavigation { display:none;}

#column-left .banners-slider-carousel .customNavigation,
#column-right .banners-slider-carousel .customNavigation{ display:block;}

.product-carousel .slider-wrapper{
	display: none;
	position: relative;
	-webkit-transform: translate3d(0px, 0px, 0px);
	-webkit-perspective: 1000;
}
.product-carousel .slider-wrapper-outer{
	overflow: hidden;
	position: relative;
	width: 100%;
}
.product-carousel .slider-wrapper-outer.autoHeight{
	-webkit-transition: height 500ms ease-in-out;
	-moz-transition: height 500ms ease-in-out;
	-ms-transition: height 500ms ease-in-out;
	-o-transition: height 500ms ease-in-out;
	transition: height 500ms ease-in-out;
}
	
.product-carousel .slider-item{
	float: left;
}
.slider-controls .slider-page,
.slider-controls .slider-buttons div{
	cursor: pointer;
}
.slider-controls {
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-tap-highlight-color: transparent;
}

/* mouse grab icon */
 



/* fix */
.product-carousel  .slider-wrapper,
.product-carousel  .slider-item{
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility:    hidden;
	-ms-backface-visibility:     hidden;
}
.customNavigation    { text-align: center; position:relative;width:100%}
.customNavigation a{
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-tap-highlight-color:transparent;
	display: block;
    float: right;
    position: absolute;
    top: -35px;
	height: 26px;
	width: 16px;
	font-size: 0;
	cursor:pointer; 
}

#products-related .customNavigation a {top: -35px;}

.customNavigation a.prev {
    right:30px;
    background:url("../../image/megnor/sprite.png") no-repeat scroll -10px 3px transparent;
}

.product-image .customNavigation a.prev {left:0; color:#000000; width:20px;}
.product-image .customNavigation a.next {right:0; color:#000000; width:20px;}
.product-image  .customNavigation a {top:40px;}

.customNavigation a.prev:hover 	{ text-decoration:none; background-position: -10px -27px;}
.customNavigation a.next {
    right:2px;
	background:url("../../image/megnor/sprite.png") no-repeat scroll -40px 3px transparent;
	color:#FFFFFF;
	cursor:pointer;
}
.customNavigation a.next:hover 	{  text-decoration:none; background-position:-40px -27px;}

.banners-slider-carousel .product-carousel{  width:auto; margin:0 15px; }
.banners-slider-carousel .customNavigation a.prev {
    left:0px;
	top:60px;
	z-index:999;  
	cursor:pointer;
	width:20px;
	color:#000000;
}
.banners-slider-carousel .customNavigation a.prev:hover 	{text-decoration:none; z-index:999;}
.banners-slider-carousel .customNavigation a.next {
    right:0px;
	top:60px;
	cursor:pointer;
	z-index:999; 
	color:#000000;
}
.banners-slider-carousel .customNavigation a.next:hover 	{text-decoration:none; z-index:999;}


.product-info .product-image .customNavigation    { text-align: center; width:100%; z-index:9;}
.product-info .product-image .customNavigation a{
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-tap-highlight-color: transparent;
	display: block;
    float: right;
    height: 20px;
    position: absolute;
    top: -34px;
    width: 16px;
}

.product-info .product-image .customNavigation span.prev {
    background:url("../../image/megnor/sprite.png") no-repeat scroll -15px -59px transparent; 
	left:10px;
	top:30px;
	position:absolute;
	cursor:pointer;
	height: 28px;
	width: 16px;
	font-size:0;
}
.product-info .product-image .customNavigation span.prev:hover 	{  text-decoration:none; background-position: -15px -88px; }
.product-info .product-image .customNavigation span.next {
	background:url("../../image/megnor/sprite.png") no-repeat scroll -36px -59px transparent;
	right:10px;
	top:30px;
	position:absolute;
	cursor:pointer;
	height: 28px;
	width: 16px;
	font-size: 0;
}
.product-info .product-image .customNavigation span.next:hover 	{  text-decoration:none; background-position: -36px -88px; }