* { direction: rtl; }
.filterbox .panel-footer {
	text-align: right;
}
#footer .column {
	float: right;
}
#collapse-voucher .col-sm-2 {
	float: left;
	width: 25%;
}
.contact-info .left {
	float: right;
}
.contact-info .address-detail strong {
	padding: 2px 45px 0 0;
	background-position: right -235px;
	float: right;
}
.contact-info address {
	float: right;
	margin: 0 40px 0 0;
}
.contact-info .telephone strong {
	padding: 2px 45px 0 0;
	background-position: right -314px;
	float: right;
}
.contact-info .fax strong {
	padding: 2px 45px 0 0;
	background-position: right -272px;
	float: right;
}
.swiper-container .swiper-wrapper {
	direction: ltr !important;
}
#collapse-coupon .col-sm-2 {
	float: left;
	width: 25%;
}
.alert-dismissable .close, .alert-dismissible .close {
	right: 0;
}
#tabs_info .form-group .col-sm-2.control-label {
	text-align: right;
	margin-right:15px;
}
#form-language .dropdown-menu > li > .btn {
	text-align: right;
}
#top #form-currency .currency-select {
	text-align: right;
}
#top .btn-link, #top-links li, #top-links a {
	text-align: right;
}
#column-left{ float:right;
    padding-left: 0;
    padding-right: 15px; }
#column-right{ float:left; padding-right:0; padding-left:15px; }
.flex-viewport {direction: ltr;}
.main-menu > ul > li {float:right;}
.main-menu > ul > li ul > li > ul{ margin-left:0; margin-right: -3px; }
.main-menu > ul > li ul > li > a { position:relative;}
.flex-control-nav{ right:auto; left:10px; padding:0;}
.sale{ 
    background: url("../../image/megnor/sale_rtl.png") no-repeat scroll 0 0 transparent !important;
    left: 0;
    right: auto;
}
.product-list .sale { top:-16px; left: -11px; right:auto; } 

.owl-carousel .owl-wrapper-outer{direction:ltr;}
.customNavigation a.prev { left: 5px;  right: auto;}
.customNavigation a.next{ left: 30px;  right: auto; }
.main-menu > ul > li ul > li:hover > a.activSub { background:url("../../image/megnor/rtl/menu_arrow_hr_rtl.png") no-repeat scroll left center rgba(0, 0, 0, 0); }
.main-menu > ul > li ul > li > a.activSub{background: url("../../image/megnor/rtl/menu_arrow_rtl.png") no-repeat scroll left center rgba(0, 0, 0, 0); }
.main-menu > ul > li ul > li:hover > ul {	left:auto; right:207px;}
.nav-responsive span, .main-menu > ul > li > a { margin-left:10px; margin-right:0; }
.box .box-content ul li{ padding-right:0; margin-right:0; }
ul.box-category > li a.active + ul , .box .box-content ul ul{ margin-left:0; margin-right:0; padding-right:15px }
ul.box-category > li ul > li > a{
	background:url("../../image/megnor/rtl/cat_arrow_rtl.png") no-repeat scroll right center rgba(0, 0, 0, 0);
    padding-right: 12px;
}
ul.box-category > li ul > li > a:hover{
	 background:url("../../image/megnor/rtl/cat_arrow_hover_rtl.png") no-repeat scroll right center rgba(0, 0, 0, 0);
}
#footer .column li a{
	background: url("../../image/megnor/rtl/subcat_arrow_hover_rtl.png") no-repeat scroll right center rgba(0, 0, 0, 0);
    padding-right: 15px;
	padding-left:0;
	}
#footer .column li a:hover{
	background: url("../../image/megnor/rtl/footer_arrow_hover_rtl.png") no-repeat scroll right center rgba(0, 0, 0, 0);
}

.customSelectInner , .customSelectOpen .customSelectInner{ background-position:left center; } 
.customSelectInner {padding-left:10px;  text-align: right;}
.product-grid li, #content .box-product .product-items{ float:right; }
.category-info .image{ float:right; margin-left:10px; }
#column-left .box-product .image, #column-right .box-product .image{ float:right;   margin-left: 8px; margin-right:0; }
#column-left .box-product .rating, #column-right .box-product .rating, #column-left .box-product .name, #column-right .box-product .name, #column-left .box-product .price, #column-right .box-product .price, #column-left .box-product .cart, #column-right .box-product .cart{ margin-right:43px; margin-left:0; }
.product-list .right{ float:left;margin-left: 0px; margin-right:15px; text-align:left;}
.product-list .product-thumb .image { float:right; }
.product-list .product-thumb .caption { margin-right:230px; margin-left:0; }
.product-list .image {    float: right; margin-right:0; }
.product-info > .left {    float: right;    margin-right: 0px; /*margin-left:15px;*/ }
.product-info > .left + .right {  margin-right: 295px;   margin-left:0px;}
.product-carousel .slider-wrapper-outer{ direction:ltr !important; } 
.product-list .product-thumb .wishlist { float:right; margin-left:10px; margin-right:0; }
.product-list .product-thumb .compare { float:right; }
.product-list .product-thumb .wishlist .fa-heart { margin-left:5px; margin-right:0; }
.product-list .product-thumb .compare .fa-exchange { background-position: right -35px; float:right; }
.product-list .product-thumb .compare:hover .fa-exchange { background-position: right -56px; }
.product-list .product-thumb .rating { text-align:right; }

#topcontrol{ right:auto !important; left:10px !important; } 

.list-inline {padding-right:0;}
.col-sm-3.category_list {
    float: right;
}
.col-sm-3.category_list > ul {
    padding-right: 0;
}
.category_list ul li { float:right; margin:0 0 7px 7px; }
#column-left .product-thumb .button-group { 
	float:left;
	}
.category_img {/*float:right;*/}
.category_description {float:left;}
.list-unstyled {padding-right:0;}
.treeview-list .expandable-hitarea, .treeview-list .hitarea {float:left;}

.addthis_toolbox.addthis_default_style {float:right;}
#block_contact_infos ul { padding-right:0; }
#block_contact_infos .contact {
    background: url("../../image/megnor/phone_icon.png") no-repeat scroll right 2px rgba(0, 0, 0, 0);
    padding-left: 0 !important;
	padding-right:25px !important;
}
#block_contact_infos .addresses {
    background: url("../../image/megnor/phone_icon.png") no-repeat scroll right -23px rgba(0, 0, 0, 0);
    padding-right: 25px !important;
	padding-left:0 !important;
}

#block_contact_infos li.addresses a {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0) !important;
    padding-right: 0;
    text-decoration: none;
}

#social_block {
    float: right;
    margin: 7px 0;
}
#social_block ul{ padding-right: 0; }
#social_block li { margin-right:0; margin-left:10px; float:right; }
.cart_container { float:left; }
.dropdown-menu.pull-right { left:0; right:auto; }
.pull-right { float:left !important;  }
#search { float:left; }
.pull-left { float:right !important; }
.search { background-position: left center; }
#cart { left:15px; right: auto; }
.dropdown-menu { right:0; left:auto; }
#top-links .fa { margin-right:0; margin-left:3px; }

#content .product-carousel .product-block-inner, #content .product-grid-list .product-block-inner, #content .product-grid .product-block-inner, #content .box-product .product-block-inner { text-align:right; }
.product-thumb .button-group button { float:right !important; } 
#cart .addtocart, #cart .checkout { float: left !important; }
#cart .checkout { margin-right:0; margin-left:5px;  }
.product-thumb .price-old { float:right; margin-right:0; margin-left:5px !important; }
.box .box-content ul li a, #content .content ul li a, #content ul.list-unstyled li a {   background:url("../../image/megnor/rtl/cat_arrow_rtl.png") no-repeat scroll right center rgba(0, 0, 0, 0);
    padding-right: 15px; padding-left:0; }
.box .box-content ul li a:hover, #content .content ul li a:hover, #content ul.list-unstyled li a:hover { background:url("../../image/megnor/rtl/cat_arrow_hover_rtl.png") no-repeat scroll right center rgba(0, 0, 0, 0); }
.list-group a { background:url("../../image/megnor/rtl/cat_arrow_rtl.png") no-repeat scroll right center rgba(0, 0, 0, 0); }
.list-group a:hover, a.list-group-item:hover, a.list-group-item:focus { background:url("../../image/megnor/rtl/cat_arrow_hover_rtl.png") no-repeat scroll right center rgba(0, 0, 0, 0); } 	
#content .box-product .first_item_tm .product-block { margin-right:2px; margin-left:10px; }
#content .box-product .last_item_tm .product-block {
    margin-left: 2px;
	margin-right:10px;
}
.image-right { float:left; }
.description-left { float:right; }
.searchtoggle { left:0; right:auto; }
#search .input-lg { float:left; margin-left:10px; margin-right:0; }
#search .input-group-btn { float:right; }
.category_filter .btn-list-grid { float:right; } 
.category_filter .product-compare { float:right; }
.pagination_link {  }
.productpage .product-left { float:right; }
.productpage .product-right { padding-left:15px; padding-right:0; }
.cart-block .form-group { float:right; margin-right:0; margin-left:10px;  }
.cart-block .control-label { margin-right:0; margin-left:5px; float:right; }
.cart-block #input-quantity { float:right; }
.cart-block #button-cart { margin-right:10px; margin-left:0; float:right; }
.checkout-cart .panel-heading .panel-title .fa { float:left; }
.nav-tabs > li { float:right; }
.nav { padding-right:0; }
.nav-tabs > li > a { margin-left:5px; margin-right:0; }
.productpage ul.list-unstyled li.old, .productpage ul.list-unstyled .special { margin:0 0 0 5px; float:right; }
.radio, .checkbox { padding-left:0; padding-right:20px; }
.radio input[type="radio"], .radio-inline input[type="radio"], .checkbox input[type="checkbox"], .checkbox-inline input[type="checkbox"] { float:right; margin-right:-20px; }
.col-sm-2, .col-sm-6 {
    float: right;
}
.input-group .form-control:last-child, .input-group-addon:last-child, .input-group-btn:last-child > .btn, .input-group-btn:last-child > .btn-group > .btn, .input-group-btn:last-child > .dropdown-toggle, .input-group-btn:first-child > .btn:not(:first-child), .input-group-btn:first-child > .btn-group:not(:first-child) > .btn { border-radius:3px 0 0 3px; }
.text-right { text-align:left; }
.map { float:left; }
.col-sm-3.address { float:right; }
#column-left .product-thumb .button-group button, #column-right .product-thumb .button-group button { float:right; }
.product-list .product-thumb .button-group { padding-left:0; padding-right:15px; }
.product-search .category_filter .search-subcategory label { float: none; }
.contact-us .left-content { float:right; }
.contact-us .address, .contact-us .telephone, .contact-us .fax { float:right;}
.radio-inline, .checkbox-inline { padding-right:20px; padding-left:0; }
.product-search .search-inline label { float:none; }
.col-sm-offset-8 {
    margin-right: 66.6667%;
	margin-left: 0;
}
.close { float:left; }
#form-currency { margin-right: 3px; margin-left:0; }
#form-currency .fa-caret-down, #form-language .fa-caret-down { margin-right:0px; margin-left:0; }
.search-category .col-sm-4 { float:right;  }
.category_filter .search-category .sort { float:right; }
.category_filter .search-subcategory { float:right; padding:0 20px; }
.productpage ul.list-unstyled li.points { clear:right; }
.rating a.review-write { background-position: right center; padding-left:0; padding-right:20px; margin-left:0; margin-right:10px;  }
.rating a.review-write:hover { background-position: right center;   }
.account-address .text-left{ text-align:right;}
.alert-success { padding:10px 33px 10px 10px; background-position: right center;  }
.alert-success:hover { background-position:right center; }
.product-search .serch-right { text-align:left; }
.pagination_link .text-right { float:left; }
.pagination_link .text-left { float:right; }
#accordion .fa.fa-caret-down { float:left; }

@media (max-width:1199px) {
	.product-info > .left { float:none; }
	.form-horizontal .control-label { text-align:left; }
 }

@media only screen and (max-width: 979px) {
 	.image-right{text-align:left;}
	.nav-responsive .expandable{ float:left; margin-right:0; margin-left:10px;  }
	.nav-responsive div, .responsive-menu .hitarea{ margin-left:10px; margin-right:0; }
	 .responsive-menu .main-navigation ul{ padding-right:20px; padding-left:0; }
	.nav-responsive div, .responsive-menu .hitarea{ float:left; }
	.toggle .mobile_togglemenu{ background-position: left 4px; }
	.active .mobile_togglemenu { background-position: left -48px; }
	#column-left .box-product .rating, #column-right .box-product .rating, #column-left .box-product .name, #column-right .box-product .name, #column-left .box-product .price, #column-right .box-product .price, #column-left .box-product .cart, #column-right .box-product .cart { margin-right:60px; }
	 #column-left .product-thumb .button-group, #column-right .product-thumb .button-group { float:right;/* margin-right: 57px; */margin-left:0; width:auto; }
	 .cart_container { float:none; }
	 .dropdown-menu { min-width:120px; }
	 .map { float:right; }
}

@media only screen and (max-width: 767px) {  
	.productpage .product-left { float:none; }
	.productpage .product-right { float:none; padding-right: 15px; }
	.addthis_toolbox.addthis_default_style { float:right; width:100%; margin-bottom:5px; }
	.addthis_default_style .addthis_separator, .addthis_default_style .at300b, .addthis_default_style .at300bo, .addthis_default_style .at300m, .addthis_default_style .at300bs { float:right !important; }
	.addthis_default_style .addthis_counter { float:right !important; }
	#product .cart-block { float:right; width:100%; }
	.form-horizontal .control-label, .form-horizontal .radio, .form-horizontal .checkbox, .form-horizontal .radio-inline, .form-horizontal .checkbox-inline { float:none; }
	.col-sm-offset-8 { margin:0; }
	.productpage .tab-container { float:left; width:100%; }
}

@media only screen and (max-width: 479px) { 
	.product-list .product-thumb .caption { margin-right:0; }
	.product-list .product-thumb .button-group { float:right; }
	.category_filter .label-filter { float:right; margin:10px 0 0 10px; }
	.category_filter .sort { float:right; }
	.category_filter .limit { float:right; }
	.product-list .product-thumb .button-group { padding:0; }
	.nav-tabs > li > a { margin-left:0 !important; }
	
}

@media only screen and (max-width: 319px){
	.pagination_link .text-right { float:right; }
}