	{% set sliderForbanner = 1 %}
	{% set	bannercount = banners|length %}
<div class="swiper-viewport">
  <div id="banner{{ module }}" class="swiper-container {% if bannercount > sliderForbanner %} owl-carousel bannercarousel {% else %} single-banner {% endif %}">
    <div class="swiper-wrapper">
	{% for banner in banners %}
      <div class="swiper-slide">{% if banner.link %}<a href="{{ banner.link }}"><img src="{{ banner.image }}" alt="{{ banner.title }}" class="img-responsive" /></a>{% else %}<img src="{{ banner.image }}" alt="{{ banner.title }}" class="img-responsive" />{% endif %}</div>
      {% endfor %}</div>
	  <!-- If we need pagination -->
    <!-- <div class="swiper-pagination"></div> -->
    <div class="swiper-pager">
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
  </div>
  </div>
</div>
<script type="text/javascript"><!--
$('#banner{{ module }}').swiper({
  effect: 'fade',
  autoplay: 2500,
    pagination: '.swiper-pagination',  // If we need pagination
    autoplayDisableOnInteraction: false
});
--></script> 