<div class="main-slider">
<div id="spinner"></div>
<div class="swiper-viewport">
  <div id="slideshow{{ module }}" class="swiper-container" style="opacity: 1;">
    <div class="swiper-wrapper"> 
	{% for banner in banners %}
      <div class="swiper-slide text-center">{% if banner.link %}<a href="{{ banner.link }}"><img src="{{ banner.image }}" alt="{{ banner.title }}" class="img-responsive" /></a>{% else %}<img src="{{ banner.image }}" alt="{{ banner.title }}" class="img-responsive" />{% endif %}</div>
      {% endfor %} </div>
  </div>
  <!-- <div class="swiper-pagination slideshow{{ module }}"></div> -->
  <div class="swiper-pager">
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
  </div>
</div>
</div>
<script type="text/javascript">
$('#slideshow{{ module }}').swiper({
  mode: 'horizontal',
  slidesPerView: 1,
  pagination: '.slideshow{{ module }}',
  paginationClickable: true,
  nextButton: '.swiper-button-next',
    prevButton: '.swiper-button-prev',
    spaceBetween: 0,
  autoplay: 2500,
    autoplayDisableOnInteraction: true,
  loop: true
});
</script>

<script type="text/javascript">
  // Can also be used with $(document).ready()
  $(window).load(function() {   
    $("#spinner").fadeOut("slow");
  }); 
</script>