{{ header }}
<div id="product-category" class="container">
  <ul class="breadcrumb">
    {% for breadcrumb in breadcrumbs %}
    <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
    {% endfor %}
  </ul>
  <div class="row">{{ column_left }}
    {% if column_left and column_right %}
    {% set class = 'col-sm-6' %}
    {% elseif column_left or column_right %}
    {% set class = 'col-sm-9' %}
    {% else %}
    {% set class = 'col-sm-12' %}
    {% endif %}
    <div id="content" class="{{ class }}">{{ content_top }}
      <h2 class="page-title">{{ heading_title }}</h2>
      {% if thumb  or  description %} 
      <div class="row category_thumb">
        {% if thumb %}
        <div class="col-sm-12 category_img"><img src="{{ thumb }}" alt="{{ heading_title }}" title="{{ heading_title }}" class="img-thumbnail" /></div>
		
        {% endif %}
        {% if description %}
        <div class="col-sm-12 category_description">{{ description }}</div>
        {% endif %}
      </div>     
      {% endif %}
       {% if categories %}
      <h3>{{ text_refine }}</h3>
      <div class="row">
        <div class="col-sm-12 category_list">
          <ul>
            {% for category in categories %}
            <li><a href="{{ category.href }}">{{ category.name }}</a></li>
            {% endfor %}
          </ul>
        </div>
      </div>
       {% endif %}
	   
      {% if products %}
      <div class="category_filter">
        <div class="col-md-2 btn-list-grid">
          <div class="btn-group">
            <button type="button" id="list-view" class="btn btn-default list" title="{{ button_list }}"><!-- <i class="fa fa-th-list"></i> --></button>
            <button type="button" id="grid-view" class="btn btn-default grid" title="{{ button_grid }}"><!-- <i class="fa fa-th"></i> --></button>
          </div>
        </div>
		<div class="col-md-3 product-compare"><a href="{{ compare }}" id="compare-total"> {{ text_compare }}</a></div>
    <div class="col-md-2 text-right label-filter"><label class="control-label" for="input-sort">{{ text_sort }}</label></div>
		<!-- <div class="pagination-right"> -->
		 <!-- <div class="sort-by-wrapper"> -->
			<div class="col-md-2 text-right sort">
			  <select id="input-sort" class="form-control" onchange="location = this.value;">
				{% for sorts in sorts %} 
				{% if sorts.value == '%s-%s'|format(sort, order) %}
				<option value="{{ sorts.href }} " selected="selected">{{ sorts.text }}</option>
				{% else %}
				<option value="{{ sorts.href }} ">{{ sorts.text }} </option>
				 {% endif %}
				{% endfor %}
			  </select>
			</div>
		 <!-- </div> -->
		 <!-- <div class="show-wrapper"> -->
			<div class="col-md-1 text-right label-filter">
			  <label class="control-label" for="input-limit">{{ text_limit }}</label>
			</div>
			<div class="col-md-2 text-right limit">
			  <select id="input-limit" class="form-control" onchange="location = this.value;">
				{% for limits in limits %}
				{% if limits.value == limit %}
				<option value="{{ limits.href }} " selected="selected">{{ limits.text }}</option>
				{% else %}
				<option value="{{ limits.href }} ">{{ limits.text }} </option>
				{% endif %}
				{% endfor %}
			  </select>
			</div>
		<!-- </div> -->
      <!-- </div> -->
	  </div>
	  
      <div class="box">
        {% for product in products %}
        <div class="product-layout product-list col-xs-12">
          <div class="product-block product-thumb">
		  	 <div class="product-block-inner">
            <div class="image">
				<a href="{{ product.href }} "><img src="{{ product.thumb }}" alt="{{ product.name }}" title="{{ product.name }}" class="img-responsive" /></a>
				{% if not product.special %}        
				{% else %}
				<div class="saleback">
				<span class="saleicon sale">Sale</span>         
				</div>
				{% endif %}
				
			</div>
            <div>
              <div class="caption">
                <h4><a href="{{ product.href }}">{{ product.name }}</a></h4>
                <p class="description">{{ product.description }}</p>
               {% if product.rating %}
                <div class="rating">
                  {% for i in 1..5 %}
         			 {% if product.rating < i %}
         			 <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
          		     {% else %}
          			 <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span>
          			 {% endif %}
          			 {% endfor %}
                </div>
               {% endif %}
               {% if product.price %}
        			<p class="price">
       			    {% if not product.special %}
          			{{ product.price }}
         			{% else %}
         			<span class="price-new">{{ product.special }}</span> <span class="price-old">{{ product.price }}</span>
			        {% endif %}
  		            {% if product.tax %}
		            <span class="price-tax">{{ text_tax }} {{ product.tax }}</span>
          			{% endif %}
			        </p>
	            {% endif %}
              </div>
              <div class="button-group">
                <button type="button" class="addtocart" onclick="cart.add('{{ product.product_id }}', '{{ product.minimum }} ');">{{ button_cart }}</button>
                <div class="wishlist">
                    <button type="button" title="{{ button_wishlist }}" onclick="wishlist.add('{{ product.product_id }}');"><i class="fa fa-heart"></i><span class="hidden-xs hidden-sm hidden-md">{{ button_wishlist }}</span></button>
                </div>
                <div class="compare">
                    <button type="button" title="{{ button_compare }}" onclick="compare.add('{{ product.product_id }}');"><i class="fa fa-exchange"></i><span class="hidden-xs hidden-sm hidden-md">{{ button_compare }}</span></button>
                </div>
              </div>
            </div>
			</div>
          </div>
        </div>
        {% endfor %}
      </div>
      <div class="box">
       <div class="pagination_link">
			<div class="text-left">{{ pagination }}</div>
			<div class="text-right">{{ results }}</div>
	   </div> 
     </div>    
      {% endif %}
      {% if not categories  and  not products %} 
      <p>{{ text_empty }}</p>
      <div class="buttons">
        <div class="pull-right"><a href="{{ continue }}" class="btn btn-primary">{{ button_continue }}</a></div>
      </div>
      {% endif %}
      {{ content_bottom }}</div>
    {{ column_right }}</div>
</div>
{{ footer }}