{{ header }}{{ column_left }}
<div id="content">
	<div class="page-header">
		<div class="container-fluid">
			<div class="pull-right">
				<a target="_blank" href="{{ signin }}" data-toggle="tooltip" title="{{ button_signin }}" class="btn btn-warning"><i class="fa fa-refresh"></i> {{ button_signin }}</a>
				<button type="button" data-toggle="tooltip" title="{{ button_sync_category }}" class="btn btn-info" id="button_sync_category"><i class="fa fa-tags fw"></i> {{ button_sync_category }}</button>
				<button type="button" data-toggle="tooltip" title="{{ button_sync_item }}" class="btn btn-info" id="button_sync_item"><i class="fa fa-shopping-cart fw"></i> {{ button_sync_item }}</button>
			</div>
		<h1>{{ heading_title }}</h1>
		<ul class="breadcrumb">
			{% for breadcrumb in breadcrumbs %}
			<li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
			{% endfor %}
		</ul>
		</div>
	</div>
	<div class="container-fluid" id="sync_content">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title"><i class="fa fa-list"></i> {{ text_result }}</h3>
			</div>
			<div class="panel-body">
				<div class="row">	
				</div>
			</div>
		</div>
	</div>
</div>
{{ footer }}

<script type="text/javascript">
	$('#button_sync_category').on('click', function(e) {
		e.preventDefault();

		$.ajax ({
			url: 'index.php?route=sync/product/sync&user_token={{ user_token }}&type=category',
      		type: 'post',
			dataType: 'json',	
			beforeSend: function() {
				$('#button_sync').button('loading');
			},
			complete: function() {
				$('#button_sync').button('reset');
			},
			success: function(json) {
				if (json['error']) {
					$('#sync_content').prepend('<div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> ' + json['error'] + ' <button type="button" class="close" data-dismiss="alert">&times;</button></div>');
				}

				if (json['success']) {
					$('#sync_content').prepend('<div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> ' + json['success'] + ' <button type="button" class="close" data-dismiss="alert">&times;</button></div>');
				}

				console.log(json);
			}
		});
	});

	$('#button_sync_item').on('click', function(e) {
		e.preventDefault();

		$.ajax ({
			url: 'index.php?route=sync/product/sync&user_token={{ user_token }}&type=item',
      		type: 'post',
			dataType: 'json',	
			beforeSend: function() {
				$('#button_sync').button('loading');
			},
			complete: function() {
				$('#button_sync').button('reset');
			},
			success: function(json) {
				if (json['error']) {
					$('#sync_content').prepend('<div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> ' + json['error'] + ' <button type="button" class="close" data-dismiss="alert">&times;</button></div>');
				}

				if (json['success']) {
					$('#sync_content').prepend('<div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> ' + json['success'] + ' <button type="button" class="close" data-dismiss="alert">&times;</button></div>');
				}

				console.log(json);
			}
		});
	});

</script>