<footer>
  <div id="footer" class="container">
    <div class="content_footer_top"></div>
     <div class="row">
      <div class="content_footer_left"></div>
      {% if informations %}
      <div class="col-sm-3 column">
        <h5>{{ text_information }}</h5>
        <ul class="list-unstyled">
         {% for information in informations %}
          <li><a href="{{ information.href }}">{{ information.title }}</a></li>
          {% endfor %}
        </ul>
      </div>
      {% endif %}
      <!-- <div class="col-sm-3 column">
        <h5>{{ text_service }}</h5>
        <ul class="list-unstyled">
          <li><a href="{{ contact }}">{{ text_contact }}</a></li>
          <li><a href="{{ return }}">{{ text_return }}</a></li>
          <li><a href="{{ sitemap }}">{{ text_sitemap }}</a></li>
        </ul>
      </div> -->
      <div class="col-sm-3 column">
        <h5>{{ text_extra }}</h5>
        <ul class="list-unstyled">
          <li><a href="{{ manufacturer }}">{{ text_manufacturer }}</a></li>
          <li><a href="{{ voucher }}">{{ text_voucher }}</a></li>
          <li><a href="{{ affiliate }}">{{ text_affiliate }}</a></li>
          <li><a href="{{ special }}">{{ text_special }}</a></li>
        </ul>
      </div>
      <div class="col-sm-3 column">
        <h5>{{ text_account }}</h5>
        <ul class="list-unstyled">
          <li><a href="{{ account }}">{{ text_account }}</a></li>
          <li><a href="{{ order }}">{{ text_order }}</a></li>
          <li><a href="{{ wishlist }}">{{ text_wishlist }}</a></li>
          <li><a href="{{ newsletter }}">{{ text_newsletter }}</a></li>
        </ul>
      </div>
      <div class="col-sm-3 column content_footer_right"><h2></h2>{{ footer_right }}</div>
    </div>
  </div>
</footer>
<div class="footer-bottom">
<div class="footer_shadow container">
  <div id="bottomfooter">
  <ul>
    <li><a href="{{ special }}">{{ text_special }}</a></li>
    <li><a href="{{ affiliate }}">{{ text_affiliate }}</a></li>
    <li><a href="{{ voucher }}">{{ text_voucher }}</a></li>
    <li><a href="{{ manufacturer }}">{{ text_manufacturer }}</a></li>
    <li><a href="{{ return }}">{{ text_return }}</a></li>
    <li><a href="{{ sitemap }}">{{ text_sitemap }}</a></li>
    <li class="contact"><a href="{{ contact }}">{{ text_contact }}</a></li>
  </ul>
  </div>
  
  <div id="powered">{{ powered }}</div>
  
  
<div class="content_footer_bottom">
{{ footerbottom }}
</div>
</div>
</div>
{% for script in scripts %}
<script src="{{ script }}" type="text/javascript"></script>
{% endfor %}

<!--
OpenCart is open source software and you are free to remove the powered by OpenCart if you want, but its generally accepted practise to make a small donation.
Please donate via PayPal to donate@opencart.com
//--> 
<!-- Theme created by Welford Media for OpenCart 2.0 www.welfordmedia.co.uk -->
</body></html>