<nav class="nav-container" role="navigation">
<div class="nav-inner">
<div class="container">
<!-- ======= Menu Code START ========= -->
{% if categories %}
<!-- Opencart 3 level Category Menu-->
<div id="menu" class="main-menu">
<div class="nav-responsive"><span>Menu</span><div class="expandable"></div></div>
 
      <ul class="main-navigation">
	  	<li><a href="{{ home }}">{{ name }}</a></li>
    	{% for category in categories %}
        {% if category.children %}
			<li><a href="{{ category.href }}">{{ category.name }}</a>

			<!-- <div class="dropdown-menu megamenu column{{ category.column }}"> -->
            <!-- <div class="dropdown-inner"> -->
			  {% for children in category.children|batch(category.children|length / category.column|round(1, 'ceil')) %}
				<ul>
                {% for child in children %}
					<!-- 2 Level Sub Categories START -->
					{% if child.childs %}
					  <li><a class="activSub" href="{{ child.href }}">{{ child.name }}</a>

						  <!-- <div class="dropdown-menu"> -->
			              <!-- <div class="dropdown-inner"> -->
			              {% for childs_col in child.childs|batch(child.childs|length / child.column|round(1, 'ceil')) %}
							<ul>
							  {% for childs_2 in childs_col %}
								<li><a href="{{ childs_2.href }}">{{ childs_2.name }}</a></li>
							  {% endfor %}
							</ul>
						  {% endfor %}
						  <!-- </div> -->
						  <!-- </div> -->

					  </li>
					{% else %}
					  <li><a href="{{ child.href }}">{{ child.name }}</a></li>
					{% endif %}
					<!-- 2 Level Sub Categories END -->
                {% endfor %}
              
			    </ul>
              {% endfor %}
            <!-- </div> -->
			<!-- </div> -->

			</li>
        {% else %}
			<li><a href="{{ category.href }}">{{ category.name }}</a></li>
       {% endif %}
        {% endfor %}
  </ul>
  
</div>
{% endif %}
</div>
</div>
</nav>
   