<div id="search" class="input-group">
	<div class="search"></div>
	<div class="searchtoggle">
  <input type="text" name="search" value="{{ search }}" placeholder="{{ text_search }}" class="form-control input-lg" />
  <span class="input-group-btn">
    <button type="button" class="btn btn-default btn-lg">search<!-- <i class="fa fa-search"></i> --></button>
  </span>
  </div>
</div>